*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading-container{
  width: 250px;
  height: 250px;
  background-color: rgb(0, 149, 255);
  border-radius: 100px;
}

.loader {
  height: 41.5px;
  aspect-ratio: 6;
  --rallita: #0000 64%,#000 66% 98%,#0000 101%;
  background:
    radial-gradient(35% 146% at 50% 159%,var(--rallita)) 0 0,
    radial-gradient(35% 146% at 50% -59%,var(--rallita)) 25% 100%;
  background-size: calc(100%/3) 50%;
  background-repeat: repeat-x;
  animation: l1 1s infinite linear;
  margin-top: 50%;
}
@keyframes l1{
  to {background-position: 50% 0,75% 100%}
}

#pez{
  width: 80px;
  position: relative;
  animation: moverPez 6s linear infinite;
  transform-origin: center center;
  transform-style: preserve-3d;
}

@keyframes moverPez {
  0% {
    left: 0;
    transform: rotateY(0deg);
    
  }
  49.99% {
    left: 170px;
    transform: rotateY(0deg);
  }
  50% {
    left: 170px;
    transform: rotateY(180deg);
  }
  100% {
    left: 0;
    transform: rotateY(180deg);
  }
}

.loadertitulo {
  width: fit-content;
  font-size: 40px;
  line-height: 1.5;
  font-family: system-ui,sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #000;
  background:
    radial-gradient(1.13em at 50% 1.6em,#000 99%,#0000 101%) calc(50% - 1.6em) 0/3.2em 100% text,
    radial-gradient(1.13em at 50% -0.8em,#0000 99%,#000 101%) 50% .8em/3.2em 100% repeat-x  text;
  animation: l9 2s linear infinite;
  position: absolute;
  margin-top: 20px;
  margin-left: 37px;
}

@keyframes l9 {
  to {background-position: calc(50% + 1.6em) 0,calc(50% + 3.2em) .8em}
}